<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.dao.TbAdminMapper">
  <resultMap id="BaseResultMap" type="com.lsj.entity.TbAdmin">
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="ad_account" jdbcType="VARCHAR" property="adAccount" />
    <result column="ad_pwd" jdbcType="VARCHAR" property="adPwd" />
    <result column="ad_phone" jdbcType="VARCHAR" property="adPhone" />
    <result column="ad_registTime" jdbcType="TIMESTAMP" property="adRegisttime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    uid, ad_account, ad_pwd, ad_phone, ad_registTime
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_admin
    where uid = #{uid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_admin
    where uid = #{uid,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.lsj.entity.TbAdmin">
    insert into tb_admin (uid, ad_account, ad_pwd, 
      ad_phone, ad_registTime)
    values (#{uid,jdbcType=BIGINT}, #{adAccount,jdbcType=VARCHAR}, #{adPwd,jdbcType=VARCHAR}, 
      #{adPhone,jdbcType=VARCHAR}, #{adRegisttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.entity.TbAdmin">
    insert into tb_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="adAccount != null">
        ad_account,
      </if>
      <if test="adPwd != null">
        ad_pwd,
      </if>
      <if test="adPhone != null">
        ad_phone,
      </if>
      <if test="adRegisttime != null">
        ad_registTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="adAccount != null">
        #{adAccount,jdbcType=VARCHAR},
      </if>
      <if test="adPwd != null">
        #{adPwd,jdbcType=VARCHAR},
      </if>
      <if test="adPhone != null">
        #{adPhone,jdbcType=VARCHAR},
      </if>
      <if test="adRegisttime != null">
        #{adRegisttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
 


  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.entity.TbAdmin">
    update tb_admin
    <set>
      <if test="adAccount != null">
        ad_account = #{adAccount,jdbcType=VARCHAR},
      </if>
      <if test="adPwd != null">
        ad_pwd = #{adPwd,jdbcType=VARCHAR},
      </if>
      <if test="adPhone != null">
        ad_phone = #{adPhone,jdbcType=VARCHAR},
      </if>
      <if test="adRegisttime != null">
        ad_registTime = #{adRegisttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uid = #{uid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.entity.TbAdmin">
    update tb_admin
    set ad_account = #{adAccount,jdbcType=VARCHAR},
      ad_pwd = #{adPwd,jdbcType=VARCHAR},
      ad_phone = #{adPhone,jdbcType=VARCHAR},
      ad_registTime = #{adRegisttime,jdbcType=TIMESTAMP}
    where uid = #{uid,jdbcType=BIGINT}
  </update>
</mapper>