<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.dao.TbAddressMapper">
  <resultMap id="BaseResultMap" type="com.lsj.entity.TbAddress">
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="u_uid" jdbcType="BIGINT" property="uUid" />
    <result column="add_recipient" jdbcType="VARCHAR" property="addRecipient" />
    <result column="add_phone" jdbcType="VARCHAR" property="addPhone" />
    <result column="add_province" jdbcType="VARCHAR" property="addProvince" />
    <result column="add_city" jdbcType="VARCHAR" property="addCity" />
    <result column="add_country" jdbcType="VARCHAR" property="addCountry" />
    <result column="add_info" jdbcType="VARCHAR" property="addInfo" />
    <result column="add_default" jdbcType="INTEGER" property="addDefault" />
  </resultMap>

  <sql id="Base_Column_List">
    uid, u_uid, add_recipient, add_phone, add_province, add_city, add_country, add_info, 
    add_default
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_address
    where uid = #{uid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_address
    where uid = #{uid,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="com.lsj.entity.TbAddress">
    insert into tb_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="uUid != null">
        u_uid,
      </if>
      <if test="addRecipient != null">
        add_recipient,
      </if>
      <if test="addPhone != null">
        add_phone,
      </if>
      <if test="addProvince != null">
        add_province,
      </if>
      <if test="addCity != null">
        add_city,
      </if>
      <if test="addCountry != null">
        add_country,
      </if>
      <if test="addInfo != null">
        add_info,
      </if>
      <if test="addDefault != null">
        add_default,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="uUid != null">
        #{uUid,jdbcType=BIGINT},
      </if>
      <if test="addRecipient != null">
        #{addRecipient,jdbcType=VARCHAR},
      </if>
      <if test="addPhone != null">
        #{addPhone,jdbcType=VARCHAR},
      </if>
      <if test="addProvince != null">
        #{addProvince,jdbcType=VARCHAR},
      </if>
      <if test="addCity != null">
        #{addCity,jdbcType=VARCHAR},
      </if>
      <if test="addCountry != null">
        #{addCountry,jdbcType=VARCHAR},
      </if>
      <if test="addInfo != null">
        #{addInfo,jdbcType=VARCHAR},
      </if>
      <if test="addDefault != null">
        #{addDefault,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  



</mapper>