<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.dao.TbBrandMapper">
  <resultMap id="BaseResultMap" type="com.lsj.entity.TbBrand">
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="b_name" jdbcType="VARCHAR" property="bName" />
    <result column="b_insTime" jdbcType="TIMESTAMP" property="bInstime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    uid, b_name, b_insTime
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_brand
    where uid = #{uid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_brand
    where uid = #{uid,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.lsj.entity.TbBrand">
    insert into tb_brand (uid, b_name, b_insTime
      )
    values (#{uid,jdbcType=BIGINT}, #{bName,jdbcType=VARCHAR}, #{bInstime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.entity.TbBrand">
    insert into tb_brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="bName != null">
        b_name,
      </if>
      <if test="bInstime != null">
        b_insTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="bName != null">
        #{bName,jdbcType=VARCHAR},
      </if>
      <if test="bInstime != null">
        #{bInstime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
 


  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.entity.TbBrand">
    update tb_brand
    <set>
      <if test="bName != null">
        b_name = #{bName,jdbcType=VARCHAR},
      </if>
      <if test="bInstime != null">
        b_insTime = #{bInstime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uid = #{uid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.entity.TbBrand">
    update tb_brand
    set b_name = #{bName,jdbcType=VARCHAR},
      b_insTime = #{bInstime,jdbcType=TIMESTAMP}
    where uid = #{uid,jdbcType=BIGINT}
  </update>
</mapper>