<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.dao.TbCategoryMapper">
  <resultMap id="BaseResultMap" type="com.lsj.entity.TbCategory">
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="c_name" jdbcType="VARCHAR" property="cName" />
    <result column="c_insTime" jdbcType="TIMESTAMP" property="cInstime" />
  </resultMap>
 
  <sql id="Base_Column_List">
    uid, c_name, c_insTime
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_category
    where uid = #{uid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_category
    where uid = #{uid,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.lsj.entity.TbCategory">
    insert into tb_category (uid, c_name, c_insTime
      )
    values (#{uid,jdbcType=BIGINT}, #{cName,jdbcType=VARCHAR}, #{cInstime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.entity.TbCategory">
    insert into tb_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="cName != null">
        c_name,
      </if>
      <if test="cInstime != null">
        c_insTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="cName != null">
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cInstime != null">
        #{cInstime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>



  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.entity.TbCategory">
    update tb_category
    <set>
      <if test="cName != null">
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cInstime != null">
        c_insTime = #{cInstime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uid = #{uid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.entity.TbCategory">
    update tb_category
    set c_name = #{cName,jdbcType=VARCHAR},
      c_insTime = #{cInstime,jdbcType=TIMESTAMP}
    where uid = #{uid,jdbcType=BIGINT}
  </update>
</mapper>