<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.dao.TbOrderMapper">
  <resultMap id="BaseResultMap" type="com.lsj.entity.TbOrder">
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="o_uuid" jdbcType="VARCHAR" property="oUuid" />
    <result column="g_uid" jdbcType="BIGINT" property="gUid" />
    <result column="o_payAmount" jdbcType="DECIMAL" property="oPayamount" />
    <result column="o_insTime" jdbcType="TIMESTAMP" property="oInstime" />
    <result column="o_receiveInfo" jdbcType="BIGINT" property="oReceiveinfo" />
  </resultMap>
 
  <sql id="Base_Column_List">
    uid, o_uuid, g_uid, o_payAmount, o_insTime, o_receiveInfo
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_order
    where uid = #{uid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_order
    where uid = #{uid,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.lsj.entity.TbOrder">
    insert into tb_order (uid, o_uuid, g_uid, 
      o_payAmount, o_insTime, o_receiveInfo
      )
    values (#{uid,jdbcType=BIGINT}, #{oUuid,jdbcType=VARCHAR}, #{gUid,jdbcType=BIGINT}, 
      #{oPayamount,jdbcType=DECIMAL}, #{oInstime,jdbcType=TIMESTAMP}, #{oReceiveinfo,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.entity.TbOrder">
    insert into tb_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="oUuid != null">
        o_uuid,
      </if>
      <if test="gUid != null">
        g_uid,
      </if>
      <if test="oPayamount != null">
        o_payAmount,
      </if>
      <if test="oInstime != null">
        o_insTime,
      </if>
      <if test="oReceiveinfo != null">
        o_receiveInfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="oUuid != null">
        #{oUuid,jdbcType=VARCHAR},
      </if>
      <if test="gUid != null">
        #{gUid,jdbcType=BIGINT},
      </if>
      <if test="oPayamount != null">
        #{oPayamount,jdbcType=DECIMAL},
      </if>
      <if test="oInstime != null">
        #{oInstime,jdbcType=TIMESTAMP},
      </if>
      <if test="oReceiveinfo != null">
        #{oReceiveinfo,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.entity.TbOrder">
    update tb_order
    <set>
      <if test="oUuid != null">
        o_uuid = #{oUuid,jdbcType=VARCHAR},
      </if>
      <if test="gUid != null">
        g_uid = #{gUid,jdbcType=BIGINT},
      </if>
      <if test="oPayamount != null">
        o_payAmount = #{oPayamount,jdbcType=DECIMAL},
      </if>
      <if test="oInstime != null">
        o_insTime = #{oInstime,jdbcType=TIMESTAMP},
      </if>
      <if test="oReceiveinfo != null">
        o_receiveInfo = #{oReceiveinfo,jdbcType=BIGINT},
      </if>
    </set>
    where uid = #{uid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.entity.TbOrder">
    update tb_order
    set o_uuid = #{oUuid,jdbcType=VARCHAR},
      g_uid = #{gUid,jdbcType=BIGINT},
      o_payAmount = #{oPayamount,jdbcType=DECIMAL},
      o_insTime = #{oInstime,jdbcType=TIMESTAMP},
      o_receiveInfo = #{oReceiveinfo,jdbcType=BIGINT}
    where uid = #{uid,jdbcType=BIGINT}
  </update>
</mapper>