<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.dao.TbUserPictureMapper">
  <resultMap id="BaseResultMap" type="com.lsj.entity.TbUserPicture">
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="u_uid" jdbcType="BIGINT" property="uUid" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="uploadTime" jdbcType="TIMESTAMP" property="uploadtime" />
  </resultMap>
 
  <sql id="Base_Column_List">
    uid, u_uid, pic_url, uploadTime
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_user_picture
    where uid = #{uid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_user_picture
    where uid = #{uid,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.lsj.entity.TbUserPicture">
    insert into tb_user_picture (uid, u_uid, pic_url, 
      uploadTime)
    values (#{uid,jdbcType=BIGINT}, #{uUid,jdbcType=BIGINT}, #{picUrl,jdbcType=VARCHAR}, 
      #{uploadtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.entity.TbUserPicture">
    insert into tb_user_picture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="uUid != null">
        u_uid,
      </if>
      <if test="picUrl != null">
        pic_url,
      </if>
      <if test="uploadtime != null">
        uploadTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="uUid != null">
        #{uUid,jdbcType=BIGINT},
      </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null">
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>



  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.entity.TbUserPicture">
    update tb_user_picture
    <set>
      <if test="uUid != null">
        u_uid = #{uUid,jdbcType=BIGINT},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null">
        uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uid = #{uid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.entity.TbUserPicture">
    update tb_user_picture
    set u_uid = #{uUid,jdbcType=BIGINT},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      uploadTime = #{uploadtime,jdbcType=TIMESTAMP}
    where uid = #{uid,jdbcType=BIGINT}
  </update>
</mapper>